html, body{
    margin: 0px;
    padding: 0px;
    height: 100%; 
    position: relative;
    min-height: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

header {
    border: 1px solid black;
    min-width: 1280px;
}

.header-block {
    margin-top: 40%;
}

.header-brand{
    color: black !important;
}

.header-brand:hover{
    text-decoration: none;
}

.profile-block {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.profile {
    /* border: 1px solid black; */
}

.profile-image {
    margin: 5px;
    width: 200px;
    height: 200px;
}

.profile-top-block{
    position: relative;
    margin: 10px 0px 10px 0px;
}

.profile-description{
    height: 200px;
}

.profile-description-text{
    height: 150px;
    overflow: hidden;
    text-align: justify;
}

.profile-horse-params-block{
    display: flex;
    flex-wrap: wrap;
}

.profile-horse-params{
    display: flex;
    flex-direction: row;
}

.profile-horse-params:nth-child(n + 6){
    order: 1;
}

.profile-horse-params-input{
    height: 30px;
}

.profile-horse-params-input-number{
    width: 65px;
}

.profile-bottom-block{
    margin: 30px 0px 10px 0px;
    max-height: 500px;
}

.profile-owner-contacts-text, .profile-pedigree-text{
    text-align: justify;
}

.profile-gallery{
    max-height: calc(100% - 50px);
    overflow: auto;
}

.profile-image-gallery{
    margin-top: 10px;
    border: 1px solid black;
}

.profile-image-gallery:first-child{
    margin-top: 0px;
}

.element-edit{
    cursor: pointer;
    height: 16px;
}

.element-edit-div{
    height: 16px;
    width: 16px;
}

.profile-params-overflow{
    overflow: hidden;
}

.profile-params-text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50px;
}

.profile-change-photo{
    position: absolute;
    left: 50px;
    top: 210px;
    height: 30px;
    padding: 3px;
    cursor: pointer;
}

.profile-textarea-max-height{
    resize: none;
    height: 100px;
}

.profile-save-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;
}

.cell-padding-10px{
    padding: 10px;
}

.row1-name, .row1-sex, .row1-color, .row1-id{
    place-self: center stretch;
}

.row1-age, .row2-type, .row2-skulder, .row2-forlemmer, .row2-skridt, .row2-galop, .row3-hoved, .row3-overlinie,
.row3-baglemmer, .row3-trav, .row3-breeding{
    justify-self: center;
}

.row1-aplly{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    min-width: 1280px;
}

.filter-range-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 400px;
}

.filter-range{
    width: 200px;
}

.filter-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 10px 0px 10px;
}

.filter-label{
    width: 100px;
}

.filter-range-value{
    width: 40px;
}

/** media for filters*/

@media (min-width: 1400px) {

    .filter-container{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .filter-range-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 400px;
    }

    .filter-range{
        width: 200px;
    }
}

@media (min-width: 1600px) {

    .filter-container{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .filter-range-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 500px;
    }

    .filter-range{
        width: 300px;
    }
}

/** profile horse in list*/

.profile-list-container{
    height: 225px;
    margin-bottom: 10px;
    width: 800px;
}

.profile-list-container-top{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 800px;
    border: 1px solid black;
}

.profile-list-link-container{
    display: flex;

}

.profile-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.profile-list-image{
    margin: 5px;
    width: 150px;
    height: 150px;
}

/**list*/
.list-container{
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 800px;
}

.list-horse-build-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 870px;
}

/*                */
.find-a-pair-build-container{
    display: flex;
    justify-content: space-between;
}

.find-a-pair-build-container-width-100{
    margin: 10px 0px 10px 10px;
    width: 200px;
    border: 1px solid black;
    height: 600px;
}

.find-a-pair-build-container-width-100-result{
    margin: 10px 10px 10px 0px;
    width: 200px;
    border: 1px solid black;
    height: 600px;
}

.faind-list-container{
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 800px;
}

.faind-profile-list-container:hover{
    cursor: pointer;
    background: rgba(192, 114, 25, 0.267);
}

.faind-profile-list-container{
    width: 800px;
    height: 200px;
    margin-bottom: 10px;
}

.faind-profile-list-container-selected{
    background: rgba(224, 129, 19, 0.39);
}